.DS_Store
.idea
*.log*
node_modules
coverage
storybook/storybook-static

package-lock.json

build
*.tsbuildinfo

/packages/*/dist

/tmp

*.lerna_backup

/stats
/api/app.js
# Local Netlify folder
.netlify

# yarn 2 - not using zero-installs
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

cypress/cypress/videos