.DS_Store
.idea
*.log*
node_modules
coverage
storybook/storybook-static

package-lock.json
.npmrc

build
*.tsbuildinfo

packages/*/dist
packages/*/bitbloom*.tgz

/.vscode
/tmp

*.lerna_backup

/stats
/api/app.js
# Local Netlify folder
.netlify

# pnpm
pnpm-lock.yaml
/.pnpm-store/

cypress/cypress/videos