# src (will be transpiled)
/src

# logs
*.log*

# OSX
.DS_Store

# github
/.github

# config/build
/build
.babelrc

# storybook
/.storybook
/stories
/storybook-static

# test
.travis.yml
/coverage
/test

# assets
nivo.png