html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
}

svg text {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

* {
    box-sizing: border-box;
}

.ContainerCenter {
    display: flex;
    justify-content: center;
}

.Table {
    border-collapse: collapse;
}

.Table thead tr {
    border-bottom: 1px solid #aaaaaa;
}

.Table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.Table th, .Table td {
    text-align: left;
    padding: 6px 9px;
    vertical-align: middle;
}

.Chip {
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    background-color: #eeeeee;
    border-radius: 2px;
}