.chart-tabs--data,
.chart-tabs--code {
    height: auto;
}

.chart-tabs__node-count {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    background-color: #fff;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    font-size: 13px;
    padding: 5px 11px;
}

.chart_header_wrapper {
    margin-bottom: 0;
}

.chart {
    width: 100%;
    height: 240px;
}

.chart__title {
    display: flex;
    align-items: center;
    width: 100%;
}
