.guide__header {
    max-width: 800px;
    margin: 0 auto 30px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}

.guide__description {
    max-width: 800px;
    margin: 0 auto 50px;
}

.fill-sample {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.fill-sample__preview {
    border: 2px solid #000;
}

.fill-sample__code {
    flex: 1;
    font-size: 13px;
    margin: 0 0 0 30px;
    line-height: 22px;
}

.guide__table {
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin: 15px auto 50px;
    max-width: 800px;
    padding: 10px;
}

.guide__table th {
    padding: 5px 9px;
    text-align: left;
    font-weight: 500;
    color: $accent-color;
    text-transform: uppercase;
    font-size: 14px;
}

.guide__table td {
    padding: 5px 9px;
}
