.components__sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.component_meta {
    margin-bottom: 5px;
}

.component_meta_tag {
    display: inline-block;
    position: relative;
    background: rgba(233, 132, 115, 0.71);
    color: var(--main-background-color);
    font-size: 13px;
    line-height: 1em;
    padding: 6px 11px;
    border-radius: 1px;
    margin-right: 7px;
    margin-bottom: 7px;
}
