.home {
    position: fixed;
    background: var(--accent-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    overflow-y: auto;
}

.home_item {
    width: 25%;
    height: 25%;
    overflow: hidden;
    padding: 15px;
    position: relative;
    display: block;
}

.home_item-baseline {
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 26px;
}

.home_item-baseline p {
    padding-top: 12px;
}

.home_item_label {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -12px;
    opacity: 0;
    transform: translate(0, 15px);
    transition: all 400ms;
}

.home_item_label span {
    background: #fff;
    color: var(--accent-color);
    font-size: 14px;
    line-height: 1em;
    padding: 5px 9px;
    border-radius: 2px;
}

.home .logo {
    display: block;
    background-image: url('../assets/nivo-logo.png');
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.home svg text {
    fill: #c6432d;
}

.home .tick line {
    stroke: #d4442d;
}

.home .chart__shape__line {
    stroke: rgb(198, 67, 45);
    stroke-width: 1px;
}

a.home_item {
    cursor: pointer;
}

a.home_item:hover {
    background: #e46954;
}

a.home_item:hover .home_item_label {
    opacity: 1;
    transform: translate(0, 0);
}
