/* glue: 0.13 hash: f11e667781 */
.sprite-icons-waffle-red,
.sprite-icons-waffle-grey,
.sprite-icons-voronoi-red,
.sprite-icons-voronoi-grey,
.sprite-icons-treemap-red,
.sprite-icons-treemap-grey,
.sprite-icons-sunburst-red,
.sprite-icons-sunburst-grey,
.sprite-icons-stream-red,
.sprite-icons-stream-grey,
.sprite-icons-scatterplot-red,
.sprite-icons-scatterplot-grey,
.sprite-icons-sankey-red,
.sprite-icons-sankey-grey,
.sprite-icons-react-red,
.sprite-icons-react-grey,
.sprite-icons-radar-red,
.sprite-icons-radar-grey,
.sprite-icons-pie-red,
.sprite-icons-pie-grey,
.sprite-icons-parallel-coordinates-red,
.sprite-icons-parallel-coordinates-grey,
.sprite-icons-nivo-logo,
.sprite-icons-nav-back-red,
.sprite-icons-nav-back-grey,
.sprite-icons-line-red,
.sprite-icons-line-grey,
.sprite-icons-html-red,
.sprite-icons-html-grey,
.sprite-icons-heatmap-red,
.sprite-icons-heatmap-grey,
.sprite-icons-data-red,
.sprite-icons-data-grey,
.sprite-icons-colors-red,
.sprite-icons-colors-grey,
.sprite-icons-code-red,
.sprite-icons-code-grey,
.sprite-icons-circle-packing-red,
.sprite-icons-circle-packing-grey,
.sprite-icons-chord-red,
.sprite-icons-chord-grey,
.sprite-icons-canvas-red,
.sprite-icons-canvas-grey,
.sprite-icons-calendar-red,
.sprite-icons-calendar-grey,
.sprite-icons-bullet-red,
.sprite-icons-bullet-grey,
.sprite-icons-bar-red,
.sprite-icons-bar-grey,
.sprite-icons-api-red,
.sprite-icons-api-grey {
    background-image: url('../assets/icons.png');
    background-repeat: no-repeat;
}

.sprite-icons-waffle-red {
    background-position: -4px -4px;
    width: 52px;
    height: 52px;
}

.sprite-icons-waffle-grey {
    background-position: -64px -4px;
    width: 52px;
    height: 52px;
}

.sprite-icons-voronoi-red {
    background-position: -4px -64px;
    width: 52px;
    height: 52px;
}

.sprite-icons-voronoi-grey {
    background-position: -64px -64px;
    width: 52px;
    height: 52px;
}

.sprite-icons-treemap-red {
    background-position: -124px -4px;
    width: 52px;
    height: 52px;
}

.sprite-icons-treemap-grey {
    background-position: -124px -64px;
    width: 52px;
    height: 52px;
}

.sprite-icons-sunburst-red {
    background-position: -4px -124px;
    width: 52px;
    height: 52px;
}

.sprite-icons-sunburst-grey {
    background-position: -64px -124px;
    width: 52px;
    height: 52px;
}

.sprite-icons-stream-red {
    background-position: -124px -124px;
    width: 52px;
    height: 52px;
}

.sprite-icons-stream-grey {
    background-position: -184px -4px;
    width: 52px;
    height: 52px;
}

.sprite-icons-scatterplot-red {
    background-position: -184px -64px;
    width: 52px;
    height: 52px;
}

.sprite-icons-scatterplot-grey {
    background-position: -184px -124px;
    width: 52px;
    height: 52px;
}

.sprite-icons-sankey-red {
    background-position: -4px -184px;
    width: 52px;
    height: 52px;
}

.sprite-icons-sankey-grey {
    background-position: -64px -184px;
    width: 52px;
    height: 52px;
}

.sprite-icons-react-red {
    background-position: -124px -184px;
    width: 52px;
    height: 52px;
}

.sprite-icons-react-grey {
    background-position: -184px -184px;
    width: 52px;
    height: 52px;
}

.sprite-icons-radar-red {
    background-position: -244px -4px;
    width: 52px;
    height: 52px;
}

.sprite-icons-radar-grey {
    background-position: -244px -64px;
    width: 52px;
    height: 52px;
}

.sprite-icons-pie-red {
    background-position: -244px -124px;
    width: 52px;
    height: 52px;
}

.sprite-icons-pie-grey {
    background-position: -244px -184px;
    width: 52px;
    height: 52px;
}

.sprite-icons-parallel-coordinates-red {
    background-position: -4px -244px;
    width: 52px;
    height: 52px;
}

.sprite-icons-parallel-coordinates-grey {
    background-position: -64px -244px;
    width: 52px;
    height: 52px;
}

.sprite-icons-nivo-logo {
    background-position: -124px -244px;
    width: 52px;
    height: 52px;
}

.sprite-icons-nav-back-red {
    background-position: -184px -244px;
    width: 52px;
    height: 52px;
}

.sprite-icons-nav-back-grey {
    background-position: -244px -244px;
    width: 52px;
    height: 52px;
}

.sprite-icons-line-red {
    background-position: -304px -4px;
    width: 52px;
    height: 52px;
}

.sprite-icons-line-grey {
    background-position: -304px -64px;
    width: 52px;
    height: 52px;
}

.sprite-icons-html-red {
    background-position: -304px -124px;
    width: 52px;
    height: 52px;
}

.sprite-icons-html-grey {
    background-position: -304px -184px;
    width: 52px;
    height: 52px;
}

.sprite-icons-heatmap-red {
    background-position: -304px -244px;
    width: 52px;
    height: 52px;
}

.sprite-icons-heatmap-grey {
    background-position: -4px -304px;
    width: 52px;
    height: 52px;
}

.sprite-icons-data-red {
    background-position: -64px -304px;
    width: 52px;
    height: 52px;
}

.sprite-icons-data-grey {
    background-position: -124px -304px;
    width: 52px;
    height: 52px;
}

.sprite-icons-colors-red {
    background-position: -184px -304px;
    width: 52px;
    height: 52px;
}

.sprite-icons-colors-grey {
    background-position: -244px -304px;
    width: 52px;
    height: 52px;
}

.sprite-icons-code-red {
    background-position: -304px -304px;
    width: 52px;
    height: 52px;
}

.sprite-icons-code-grey {
    background-position: -364px -4px;
    width: 52px;
    height: 52px;
}

.sprite-icons-circle-packing-red {
    background-position: -364px -64px;
    width: 52px;
    height: 52px;
}

.sprite-icons-circle-packing-grey {
    background-position: -364px -124px;
    width: 52px;
    height: 52px;
}

.sprite-icons-chord-red {
    background-position: -364px -184px;
    width: 52px;
    height: 52px;
}

.sprite-icons-chord-grey {
    background-position: -364px -244px;
    width: 52px;
    height: 52px;
}

.sprite-icons-canvas-red {
    background-position: -364px -304px;
    width: 52px;
    height: 52px;
}

.sprite-icons-canvas-grey {
    background-position: -4px -364px;
    width: 52px;
    height: 52px;
}

.sprite-icons-calendar-red {
    background-position: -64px -364px;
    width: 52px;
    height: 52px;
}

.sprite-icons-calendar-grey {
    background-position: -124px -364px;
    width: 52px;
    height: 52px;
}

.sprite-icons-bullet-red {
    background-position: -184px -364px;
    width: 52px;
    height: 52px;
}

.sprite-icons-bullet-grey {
    background-position: -244px -364px;
    width: 52px;
    height: 52px;
}

.sprite-icons-bar-red {
    background-position: -304px -364px;
    width: 52px;
    height: 52px;
}

.sprite-icons-bar-grey {
    background-position: -364px -364px;
    width: 52px;
    height: 52px;
}

.sprite-icons-api-red {
    background-position: -424px -4px;
    width: 52px;
    height: 52px;
}

.sprite-icons-api-grey {
    background-position: -424px -64px;
    width: 52px;
    height: 52px;
}

@media screen and (-webkit-min-device-pixel-ratio: 1),
    screen and (min--moz-device-pixel-ratio: 1),
    screen and (-o-min-device-pixel-ratio: 100/100),
    screen and (min-device-pixel-ratio: 1),
    screen and (min-resolution: 1dppx) {
    .sprite-icons-waffle-red,
    .sprite-icons-waffle-grey,
    .sprite-icons-voronoi-red,
    .sprite-icons-voronoi-grey,
    .sprite-icons-treemap-red,
    .sprite-icons-treemap-grey,
    .sprite-icons-sunburst-red,
    .sprite-icons-sunburst-grey,
    .sprite-icons-stream-red,
    .sprite-icons-stream-grey,
    .sprite-icons-scatterplot-red,
    .sprite-icons-scatterplot-grey,
    .sprite-icons-sankey-red,
    .sprite-icons-sankey-grey,
    .sprite-icons-react-red,
    .sprite-icons-react-grey,
    .sprite-icons-radar-red,
    .sprite-icons-radar-grey,
    .sprite-icons-pie-red,
    .sprite-icons-pie-grey,
    .sprite-icons-parallel-coordinates-red,
    .sprite-icons-parallel-coordinates-grey,
    .sprite-icons-nivo-logo,
    .sprite-icons-nav-back-red,
    .sprite-icons-nav-back-grey,
    .sprite-icons-line-red,
    .sprite-icons-line-grey,
    .sprite-icons-html-red,
    .sprite-icons-html-grey,
    .sprite-icons-heatmap-red,
    .sprite-icons-heatmap-grey,
    .sprite-icons-data-red,
    .sprite-icons-data-grey,
    .sprite-icons-colors-red,
    .sprite-icons-colors-grey,
    .sprite-icons-code-red,
    .sprite-icons-code-grey,
    .sprite-icons-circle-packing-red,
    .sprite-icons-circle-packing-grey,
    .sprite-icons-chord-red,
    .sprite-icons-chord-grey,
    .sprite-icons-canvas-red,
    .sprite-icons-canvas-grey,
    .sprite-icons-calendar-red,
    .sprite-icons-calendar-grey,
    .sprite-icons-bullet-red,
    .sprite-icons-bullet-grey,
    .sprite-icons-bar-red,
    .sprite-icons-bar-grey,
    .sprite-icons-api-red,
    .sprite-icons-api-grey {
        background-image: url('../assets/icons.png');
        -webkit-background-size: 480px 420px;
        -moz-background-size: 480px 420px;
        background-size: 480px 420px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min--moz-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 200/100),
    screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 2dppx) {
    .sprite-icons-waffle-red,
    .sprite-icons-waffle-grey,
    .sprite-icons-voronoi-red,
    .sprite-icons-voronoi-grey,
    .sprite-icons-treemap-red,
    .sprite-icons-treemap-grey,
    .sprite-icons-sunburst-red,
    .sprite-icons-sunburst-grey,
    .sprite-icons-stream-red,
    .sprite-icons-stream-grey,
    .sprite-icons-scatterplot-red,
    .sprite-icons-scatterplot-grey,
    .sprite-icons-sankey-red,
    .sprite-icons-sankey-grey,
    .sprite-icons-react-red,
    .sprite-icons-react-grey,
    .sprite-icons-radar-red,
    .sprite-icons-radar-grey,
    .sprite-icons-pie-red,
    .sprite-icons-pie-grey,
    .sprite-icons-parallel-coordinates-red,
    .sprite-icons-parallel-coordinates-grey,
    .sprite-icons-nivo-logo,
    .sprite-icons-nav-back-red,
    .sprite-icons-nav-back-grey,
    .sprite-icons-line-red,
    .sprite-icons-line-grey,
    .sprite-icons-html-red,
    .sprite-icons-html-grey,
    .sprite-icons-heatmap-red,
    .sprite-icons-heatmap-grey,
    .sprite-icons-data-red,
    .sprite-icons-data-grey,
    .sprite-icons-colors-red,
    .sprite-icons-colors-grey,
    .sprite-icons-code-red,
    .sprite-icons-code-grey,
    .sprite-icons-circle-packing-red,
    .sprite-icons-circle-packing-grey,
    .sprite-icons-chord-red,
    .sprite-icons-chord-grey,
    .sprite-icons-canvas-red,
    .sprite-icons-canvas-grey,
    .sprite-icons-calendar-red,
    .sprite-icons-calendar-grey,
    .sprite-icons-bullet-red,
    .sprite-icons-bullet-grey,
    .sprite-icons-bar-red,
    .sprite-icons-bar-grey,
    .sprite-icons-api-red,
    .sprite-icons-api-grey {
        background-image: url('../assets/icons@2x.png');
        -webkit-background-size: 480px 420px;
        -moz-background-size: 480px 420px;
        background-size: 480px 420px;
    }
}
