.nav_toggle {
    width: var(--mini-nav-width);
    background: var(--mini-nav-background-color);
}

.mini-nav {
    display: flex;
}

.content {
    margin-top: var(--header-height);
    margin-left: var(--mini-nav-width);
    overflow-x: hidden;
    background: var(--main-background-color);
}

.isCapturing .content {
    background: transparent;
}

.page_content {
    margin: 0 50px;
}

.inner-content {
    padding-top: 10px;
    background-image: linear-gradient(-90deg, #dc5a32, #c44a67);
    background-size: 100% 150px;
    background-repeat: no-repeat;
    background-position: top left;
}

.chart_header {
    height: 130px;
}

.chart_header code {
    color: #fff;
}

.chart-page_main {
    width: 62%;
    margin-bottom: 30px;
}

.chart-page_aside {
    width: 35%;
    margin-bottom: 30px;
}
