.App {
    text-align: center;
}

.App-header {
    background-color: #e25d47;
    height: 60px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}
