:root {
    --color-background: #f7fafb;
    --color-text: #000000;
    --color-text-light: #666666;
    --color-text-lighter: #939393;
    --color-code-text: #222222;
    --color-title-text: #e25d47;
    --color-link-text: #e25d47;
    --color-border: #dddddd;
    --color-border-light: #eeeeee;
    --color-accent: #e25d47;
    --color-accent-light: #f88d81;
    --color-accent-dark: #b44230;
    --color-accent-darker: #9c3626;
    --color-accent-gradient-0: #dc5a32;
    --color-accent-gradient-1: #c44a67;
    --color-card-background: #ffffff;
    --color-card-alt-background: #f7fafb;
    --color-input-background: #f7fafb;
    --color-input-border: #cccccc;

    --dimension-header-height: 60px;
    --dimension-mini-nav-width: 60px;

    --shadow-card: 0 2px 6px rgba(0, 0, 0, 0.1);
    --shadow-card-top: 0 16px 30px rgba(0, 0, 0, 0.06), 0 0 2px rgba(0, 0, 0, 0.06);

    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --font-family-mono: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;

    /*
    contentMargin: 30,
    contentMarginSmall: 20,
    miniNavItemSize: 56,
     */
  /*
  id: 'light',
    colors: {
        neutralRange: ['#e2e2e2', '#cbcbcb', '#9a9a9a', '#838383', '#767676'],
        coloredRange: ['#ffc6c6', '#ff8c80', '#ff6a51', '#f25038', '#e64027'],
    },
    dimensions,
   */
}

@media (prefers-color-scheme: dark) {
  :root {
      /* Dark mode */
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
    background: var(--color-background);
    color: var(--color-text);
    /*
    isCapturing ? 'transparent' : theme.colors.background};
    font-size: 100%;
        line-height: 1.6;
        font-family: ${({ theme }) => theme.fontFamily};
        */
    font-family: var(--font-family);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

code,
pre,
svg text {
    font-family: var(--font-family-mono);
}

a {
    color: var(--color-link-text);
    text-decoration: underline;
}
a code {
    color: var(--color-link-text);
}

svg {
    shape-rendering: auto; /* optimizeSpeed */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
