:root {
    --accent-color: #e25d47;
    --accent-color-darker: #b44230;

    --main-background-color: #f7fafb;
    --card-background-color: #fff;
    --mini-nav-background-color: #fff;
    --main-text-color: #000;
    --header-background-color: var(--accent-color);
    --sidebar-background-color: #e1ebff;
    --title-text-color: var(--accent-color);
    --button-background-color: var(--accent-color);
    --table-odd-background-color: #f5f5f5;
    --chart-meta-color: #889eae;
    --links-color: #e25d47;

    --code-background-color: #fff;
    --code-text-color: #222;
    --code-number-color: #eb8404;
    --code-string-color: #199384;
    --code-boolean-color: #257493;
}
